pytz
python-jose
python3-openid
PyJWT
pycparser
pyasn1
oauthlib
idna
ecdsa
defusedxml
cryptography
chardet
cffi
certifi
Authlib
django-on-heroku
django-allauth
django-cors-headers
django-filter
django-polymorphic
django-rest-polymorphic
djangorestframework
django-utils-six
django-storages
loguru
oauth2client
gunicorn
python-dotenv
django
sqlparse
urllib3
six
rsa
requests-oauthlib
requests
social-auth-core
social-auth-app-django
