oauthlib
Authlib
django-on-heroku
django-cors-headers
djangorestframework
loguru
oauth2client
gunicorn
python-dotenv
django
sqlparse
urllib3
six
rsa
requests-oauthlib
requests
social-auth-core
social-auth-app-django